<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
		integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
	<!-- css for stylish tickbox -->
	<link rel="stylesheet" href="/css/box.css">
	<!-- css file for most of the styles -->
	<link rel="stylesheet" href="/css/home.css">

	<title>
		<%= title%>
	</title>

</head>

<body>
	<div id="container">
		<h1 id="header">ToDO App</h1>

		<form action="/new_task" method="POST">
			<input name="discription" id="discription" required placeholder="what do need to be done??">
			<div id="category-date">

				<div
					style="flex-grow: 1;border-right:1px;border-bottom:1px;border-bottom-style:solid;border-right-style:solid; border-color:grey">
					<select id="category" name="category">
						<option>selct category</option>
						<option value="personal">personal</option>
						<option value="work">work</option>
						<option value="cleaning">Cleaning</option>
						<option value="others">others</option>
					</select>
				</div>
				<div style="flex-grow: 1;border-bottom:1px;border-bottom-style:solid; border-color:grey">
					<input type="date" name="date" required id="dates">
				</div>
			</div>

			<div style="margin-top:14px;margin-left:46px">
				<button type="submit" class="btn btn-dark" class="btn"><span><i class="fa fa-plus"></i></span><span> &nbspAdd
						Task</span></button>
			</div>
		</form>
	</div>
	<div>
		<h1 style="
		margin-left: 13.125rem;
		margin-bottom: 0px;
		margin-top: 0px;
">tasks undone</h1>

	</div>
	<div id="task-list">

		<form action="/delete_task" method="POST" style="
		margin-bottom: 0px">

			<% for(let task of Tasks){%>
			<div class="tasks-container">
				<span class="boxy open"><input id="<%= task._id %>" type="checkbox" name="selected[]" value="<%= task._id %>">
					<label for="<%= task._id %>">
						<span class="dis"> <%=task.discription %> </span>
					</label>
				</span>
				<span class="cat"> <%=task.category%> </span>
				<br>
			</div>
			<%}
				%>
			<button type="submit" class="btn btn-danger" class="btn" id="btn-2"><span><i class="fa fa-trash"></i></span><span>
					&nbsp delete Task</span></button>

		</form>
	</div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/checkbox.js" type="text/javascript"></script>

</html>